@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "./css/roomList.css";
@import "./css/roomSelector.css";
@import "./css/chatWindow.css";

:root {
  --primary-color: rgb(210, 185, 31);
  --cream-color: rgb(217, 207, 196);
  --light-grey-color: rgba(255, 255, 255, 0.13);
  --dark-grey-color: rgba(255, 255, 255, 0.06);
  --medium-grey-color: rgba(255, 255, 255, 0.1);
  --solid-grey-color: rgb(182, 182, 182, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.page-border {
  position: fixed;
  inset: 0;
  padding: 16px;
  border: 16px solid var(--cream-color);
  z-index: 9999;
  pointer-events: none;
}
